/NetBeansProject/HTML5Application/nbproject/private/
/DirectionPrediction/mavenproject1/target/
/NetBeansProject/Base17ToDecimal/target/
/NetBeansProject/CheckPasswordAccenture/target/
/NetBeansProject/BasicPage/nbproject/private/
/NetBeansProject/RegistrationPage/target/
/NetBeansProject/WebApplication1/nbproject/private/
/NetBeansProject/WebApplication1/build/
