<mat-toolbar color="primary" style="background-color: #2980b9;">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu_book</mat-icon>
  </button>
  <span>Exam Portal</span>
  <span class="example-spacer"></span>
  <a routerLink="/" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with home icon">
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
  </a>
  <a routerLink="/login" mat-icon-button class="example-icon" aria-label="Example icon-button with login icon">
    <mat-icon>login</mat-icon>
  </a>
  <a routerLink="/signup" mat-icon-button class="example-icon" aria-label="Example icon-button with app_registration icon">
    <mat-icon>app_registration</mat-icon>
  </a>
</mat-toolbar>
